* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
width: 1600px;
}
.Card-home{
    display: flex;
    background-color: #132d46;
    margin-top: 0;
    margin-bottom: 0;
    height: 600px;
    width: 1600px;
}
.Card-home > h3{
    position: relative;
    justify-content: center;
    justify-items: center;
    align-self: center;
    top: 60px;
    left: 30%;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family:Calibri,sans-serif;
    font-weight: 400;
    color: #898787;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    left: 600px;
    top: 100px;

}
.titulo {
    background-color: #060f18;
    position: absolute;
    width: 1600px;
    height: 90px;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 10px;
    background-color: transparent;
    color: white;
    border-style: none;
    cursor: pointer;
    position: absolute;
    top: 29px;
    font-size: 15px;
    padding-left: 150px;
}
.serviço{
left: 700px;
}
.fale_conosco{
left: 800px;
}
.empresa{
left: 900px;
}
.quem_somos{
left: 1000px
}



.entrar, .registre {
    background-color: grey;
    position: absolute;
    left: 1380px;
    top: 13px;
    margin-top: 15px;
    height: 40px;
    padding: 1px;
    border-radius: 100px;
    cursor:pointer;
    margin-left: 0px;
    margin: none;
    background-color: #5a5a5a;
    border-style: none;
    color: aliceblue;
    font-size: 17px;
    font-weight: 100;    
}
.entrar {
    padding: 10px;
    left: 1300px;
}
.registre{
    padding: 10px;
    background-color: #2c2c2c;
}

.qr_conhecer {
    background-color: #c7c4c4;
    color: #060f18;
    font-weight: 550;
    font-style: normal;
    font-family: Calibri, sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    left:640px;
    border-radius: 100px;
    border-style: none;
    padding: 10px;
    margin: none;
    top: 440px;
    

}
.acs_conta{
    background-color: #2c2c2c;
    color: white;
    font-weight: 550;
    font-style: normal;
    font-family: Calibri, sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    left:760px;
    border-radius: 100px;
    border-style: none;
    padding: 10px;
    margin: none;
    top: 440px;

}
.cards {
    background-color: #ff0000;
    display: flex;
    justify-content:baseline;
    align-items:baseline;
    position: relative;
    }
.cards h2{
    display: inline-flex;
    position: relative;
    justify-content:flex-start;

}
.cards h4 {
    display: inline-flex;
    position: relative;
    justify-content: left;
    align-items: baseline;
    flex-direction: column;
}

