.Card-home {
    display: flex;
    background-color: #132d46;
    margin-top: 0;
    margin-bottom: 0;
    height: 600px;
}

.Card-home>h3 {
    position: relative;
    justify-content: center;
    justify-items: center;
    align-self: center;
    top: 40px;
    left: 20%;
    font-size: 100px;
    font-family: Calibri, sans-serif;
    font-weight: 400;
    color: #ffff;
}

.green-card {
    background-color: #132d46d0;
    border-radius: 20px;
    width: 41%;
    height: 480px;
    padding-left: 20px;
    margin-left: 70px;
    position: absolute;
    margin-top: 60px;
}

.gd-font {
    position: absolute;
    font-size: 35px;
    color: #ffffff;
    top: 10px
}

.gd-lista-um {
    position: absolute;
    font-size: 23px;
    top: 65px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.green-card-dois {
    background-color: #132d46d0;
    border-radius: 20px;
    width: 41%;
    height: 480px;
    margin-left: 750px;
    top: 10px;
    position: relative;
    margin-top: 120px;
}

.gcd-article-dois {
    padding-left: 3%;
    padding-top: 10px;
}

.gd-font-dois {
    font-size: 35px;
    color: #ffffff;
}

.gd-lista-dois {
    font-size: 23px;
    color: #ffffff;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
}

.green-card-tres {
    background-color: #132d46d0;
    border-radius: 20px;
    width: 40%;
    height: 300px;
    margin-left: 70px;
    bottom: 250px;
    position: relative;
}

.gcd-article-tres {
    padding-left: 3%;
    padding-top: 10px;
}

.gd-lista-tres {
    font-size: 23px;
    color: #ffffff;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 2%;
}

.infos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}

.text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: larger;
    text-align: justify;
}

mark {
    background: #132d46;
    padding: 0px 5px;
    color: #ffffff;
}

.imgLado>img {
    width: 550px;
    height: 500px;
    position: relative;
    z-index: 10;
    left: 730px;
    top: 33px;
}

.imgdois>img {
    width: 550px;
    height: 400px;
    position: relative;
    z-index: 10;
    left: 70px;
    top: -400px;
}

.imgtres>img {
    width: 450px;
    height: 450px;
    position: relative;
    z-index: 10;
    left: 670px;
    bottom: 300px;
}

.parceiros {
    background-color: #132d46;
    width: 100%;
    position: absolute;
    display: flexbox;
}

.parc {
    position: absolute;
    z-index: 9;
    top: 2500px;
    left: 39%;
    font-weight: 100;
}

.p1>img {
    padding: 5%;
    position: relative;
    width: 180px;
    margin-left: 25px;
}

.p1>p {
    padding-left: 10px;
    color: antiquewhite;
    text-align: justify;
    padding: 0px 100px;
    margin-left: 25%;
    position: absolute;
    top: 20%;
    font-size: large;
}

.p1>h1 {
    position: absolute;
    color: antiquewhite;
    top: 11%;
    padding: 0px 100px;
    margin-left: 25%;
    font-weight: 100;
}

.p1>hr {
    width: 1px;
    height: 150px;
    position: absolute;
    z-index: 9;
    left: 27%;
    top: 12%;
}

.p2>img {
    padding: 5%;
    position: relative;
    width: 180px;
    height: 180px;
    margin-left: 25px;
}

.p2>p {
    padding-left: 10px;
    color: antiquewhite;
    text-align: justify;
    padding: 0px 100px;
    margin-left: 25%;
    position: absolute;
    top: 75%;
    font-size: large;
}

.p2>h1 {
    position: absolute;
    color: antiquewhite;
    top: 62%;
    padding: 0px 100px;
    margin-left: 25%;
    font-weight: 100;
}

.p2>hr {
    width: 1px;
    height: 150px;
    position: absolute;
    z-index: 9;
    left: 27%;
    top: 63%;
}

.Card-home>h4 {
    display: none;
}

@media only screen and (max-width: 1280px){

    .green-card{
        display: flex;
        height: 80%;
    }

    .gd-lista-um{
        padding-top: 5%;
    }

    .imgLado>img{
      left: 53%;
      padding: 0px;
    }

    .green-card-dois{
        right: 4%;
    }

    .green-card-dois {
        height: 45vw;
        display: flex;
    }

    .imgtres>img{
       left: 125%;
    }
}

@media only screen and (max-width: 1180px){

    .imgLado>img{
        width: 50%;
        height: 50%;
        padding-top: 10%;
        left: 49%;
      }

    .green-card-dois{
        right: 10%;
        position: relative;
        margin-top: 15%;
        height: 50vw;
    }

    .parc{
        top: 360%;
    }

    .green-card-tres{
        height: 30vw;
    }

    .imgtres>img{
        width: 80%;
        height: 30vw;
    }

}

@media screen and (max-width: 1110px) {

    .Card-home>h3{
        left: 10%;
    }

    .green-card{
        height: 87%;
    }

    .green-card-dois{
        right: 17%;
        height: 70vw;
        top: 10vw;
    }

    .imgdois>img{
        height: 50vw;
        bottom: 20vw;
    }

    .green-card-tres,
    .imgtres>img{
        bottom: 30vw;
    }

    .parc{
        top: 390%;
    }

    hr{
        display: none;
    }
}

@media only screen and (max-width: 980px){
    .imgdois,
    .imgLado,
    .imgtres {
        display: none;
    }

    .green-card{
        left: 15%;
        width: 50%;
    }

    .green-card-dois{
        top: 70vw;
        width: 50%;
        right: 54%;
    }

    .green-card-tres{
        top: 85vw;
        left: 15%;
        width: 50%;
        height: 40vw;
    }

    .parc{
        top: 385%;
        left: 35%;
    }

    .parceiros{
        top: 320vw;
    }
}

@media only screen and (max-width: 880px){

    .Card-home>h3{
        font-size: 90px;
    }

    .green-card-dois{
        width: 52%;
        right: 63%;
        top: 76vw;
        height: 75vw;
    }

    .green-card-tres{
        top: 85vw;
    }

    .parc{
        top: 370%;
    }

    .parceiros{
        top: 350vw;
    }

}

@media only screen and (max-width: 780px) {

    .Card-home>h3 {
        display: none;
    }

    .Card-home>h4 {
        position: relative;
        align-self: center;
        padding-left: 22%;
        top: 40px;
        font-size: 100px;
        font-family: Calibri, sans-serif;
        font-weight: 400;
        color: #ffff;
        display: flex;
    }

    .p1>img,
    .p2>img {
        width: 150px;
        height: 150px;
        top: 40px;
    }

    .p2>img {
        top: 120px;
    }

    .green-card {
        width: 70%;
        height: 70%;
        left: 10%;
    }

    .green-card-dois {
        width: 70%;
        height: 70vw;
        right: 80%;
    }

    .green-card-tres {
        height: 45vw;
        width: 70%;
        left:   10%;
    }

    .parc {
        top: 360vw;
        left: 30vw;
    }

    .parceiros {
        display: flexbox;
        position: relative;
        height: 600px;
        top: 1000px;
    }

}

@media only screen and (max-width: 680px){

    .green-card {
        height: 80%;
        left: 0%;
    }

    .green-card-dois {
        top: 95vw;
        height: 85vw;
        right: 98%;
    }
    
    .green-card-tres {
        height: 55vw;
        left: 2%;
        top: 100vw;
    }

    .parc{
        top: 360%;
    }

}

@media only screen and (max-width: 580px){

    .green-card {
        height: 95%;
        left: 0%;
    }

    .green-card-dois {
        top: 135vw;
        height: 115vw;
        right: 115%;
    }
    
    .green-card-tres {
        height: 65vw;
        left: 2%;
        top: 155vw;
    }

    .parc{
        top: 400%;
    }

    .parceiros{
        top: 220vw;
        height: 130vw;
    }

    .p1>img{
        top:10vw;
    }

    .p2>p{
        top: 90vw;
    }

    .p2>img{
        top:40vw;
    }
}

@media only screen and (max-width: 530px){

    .Card-home>h4 {
        padding-left: 0;
        margin: 0;
        left: 10vw;
        font-size: 10vw;
    }

    .green-card {
        height: 110%;
    }

    .green-card-dois {
        right: 140%;
        height: 175vw;
        top: 190vw;
    }

    .green-card-tres{
        top: 210vw;
        height: 95vw;
    }

    .parc{
        top: 460%;
        left: 10vw;
    }

    .parceiros {
        display: flexbox;
        height: 270vw;
        top: 300vw;
    }
    .p1>img {
        top: 10vw;
        left: 20vw;
    }

    .p1>h1 {
        top: 70vw;
        right: 15vw;
    }

    .p1>p {
        top: 30vw;
        right: 13vw;
        position: relative;
        padding: 0;
    }

    .p2>img {
        top: 43vw;
        left: 20vw;
    }

    .p2>h1 {
        top: 200vw;
        right: 15vw;
    }

    .p2>p {
        top: 65vw;
        right: 13vw;
        position: relative;
        padding: 0;
    }
}

@media only screen and (max-width: 440px){

    .Card-home>h4 {
        font-size: 10vw;
        position: relative;
        top: 2%;
    }

    .text {
        font-size: 7vw;
    }

    .green-card {
        height: 125%;
    }

    .gd-lista-um {
        padding-top: 10%;
    }

    .green-card-dois {
        top: 230vw;
        height: 235vw;
        right: 150%;
    }

    .gd-font-dois,
    .gd-lista-dois,
    .gd-lista-tres {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .green-card-tres {
        top: 240vw;
        height: 133vw;
        right: 8vw;
    }

    .parc{
        top: 900vw;
    }

    .parceiros {
        display: flexbox;
        height: 270vw;
        top: 300vw;
    }

    .p1>img {
        top: 10vw;
        left: 20vw;
    }

    .p1>h1 {
        top: 52vw;
        right: 20vw;
    }

    .p1>p {
        top: 30vw;
        right: 13vw;
        position: relative;
        padding: 0;
    }

    .p2>img {
        top: 43vw;
        left: 20vw;
    }

    .p2>h1 {
        top: 170vw;
        right: 18vw;
    }

    .p2>p {
        top: 65vw;
        right: 13vw;
        position: relative;
        padding: 0;
    }
}

@media only screen and (max-width: 400px){
    .green-card-dois {
        top: 260vw;
        right: 180%;
    }

    .green-card-tres{
        top: 280vw;
    }

    .parc{
        top: 1000vw;
    }

    .parceiros{
        top: 400vw;
    }

    .p1>h1{
        top: 58vw;
    }
    .p2>h1{
        top: 200vw;
    }

}

@media only screen and (max-width: 360px){
    
    .green-card-dois{
        top: 285vw;
        right: 200%;
    }

    .green-card-tres{
        top: 310vw;
    }

    .parc{
        top: 1010vw;        
    }

    .parceiros{
        height: 300vw;
    }

    .p2>h1{
        top: 215vw;
    }

}

@media only screen and (max-width: 320px){

    .parc{
        top: 1030vw;
    }

    .p2>h1{
        top: 225vw;
    }

}
