h1{
    color: #ffffff;
}
  
  button {
    padding: 0.1rem .6rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 15px;
  }
  
  #open-modal {
    background-color: #00ffb7;
    color: #373a80;
    font-weight:500;
  }

  #close-modal{
    font-size: 20px;
    background-color: transparent;
    color: #eee;
    padding: 10px;
  }

  #close-modal:hover{
    background-color: #096a57;
    color: #fff;
    transition: 0.9s;
    border-radius: 100%;
    scale: 1.2;
  }
  
  #save-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
  }

  .save-modal:hover{
    background-color: #096a57;
    color: #fff;
    transition: 0.5s;
    scale: 1.1;
    border-radius: 30px;

  }
  .save-modal{
    font-size: 20px;
    width: 100vw;
    background-color: transparent;
    color: #eee;

  } 

  button:hover {
    opacity: 1;
  }
  
  #fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px) ;
    z-index: 5;
  }
  
  #modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 36%;
    max-width: 90%;
    background-color: #122135;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }
  
  #fade,
  #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    top: 1;
  }
  
  .form {
    display: flex;
    margin-top: 40px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .form label{
    display: flex;
    align-items: first baseline;
    padding: 0px;
    height: 5vh;
  }
  .form input{
    color: #eee;
    margin: 2px;
    width: 35vw;
  }
  
  #modal.hide, #fade.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  #modal.hide {
    top: 0;
  }
