body {
    margin: 0;
    font-family: 'Poppins', sans-serif
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #132D46;
    padding: 100px;
    font-size: 130px;
    color: #ffffff;
}

.infos {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    float: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 2%;
    padding-top: 47px;
}

.infos>p {
    font-size: 18px;
    Font-family: Cambria;
}

.formul치rio {
    position: absolute;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    left: 672px;
    color: white;
    Font-family: Cambria;
    border-style: none;
}

input,
select,
textarea,
button {
    border-radius: 15px;
    background-color: rgb(224, 229, 231);
    border-style: none;

}

textarea {
    width: 500px;
    height: 70px;
    border-radius: 20px;
    padding: 9px;
    background-color: #ffffffad;
    border-style: none;
}

.grupo {
    color: #ffffff;
    background-color: #132D46;
    border: 10px;
    width: 550px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    padding-top: 5%;
    margin: 40px;
}

.grupo p {
    color: #ffffff;
    padding-bottom: 5px;
}

.grupo input {
    width: 500px;
    height: 40px;
    background-color: rgba(16, 4, 187, 0.705);
    color: white;
    border-style: none;
    margin-bottom: 10px;
}

.checkbox input {
    width: 18px;
    display: inline;
    align-items: baseline;
    justify-content: baseline;
    position: relative;
    top: 15px;
    color: white;
    background-color: rgba(3, 0, 165, 0.705);
}

select {
    display: flex;
    position: relative;
    width: 500px;
    height: 40px;
    color: white;
    background-color: rgba(3, 0, 165, 0.705);
}

.submitbt {
    margin-top: 30px;
    border-style: none;
    width: 300px;
    height: 40px;
    background-color: rgba(3, 0, 165, 0.705);
    color: #ffffff;
}

.inpPlace::placeholder {
    color: white;
}

.cblbl {
    position: relative;
    top: 30px;
    color: white;
}

.checkbox {
    color: white;
}


@media only screen and (max-width: 730px) {

    .infos {
        top: 750px;
        position: relative;
        background-color: #132D46;
        left: 0%;
    }

    .infos>h1 {
        left: 24%;
        top: 10px;
        position: absolute;
        color: #FFFFFF;
        font-weight: 1;
    }

    .infos>p {
        background-color: #132D46;
        text-align: center;
        color: #ffffff;
        font-weight: 1;
        font-family: 'Poppins', sans-serif;
        padding: 10px 120px;
    }

    .formul치rio {
        left: 180px;
        bottom: 150px;
        position: relative;
        display: flex;
    }

    .contato {
        font-size: 15vw;
    }

}

@media only screen and (max-width: 400px) and (min-width: 100px) {

    .formElement,
    .grupo,
    .formul치rio {
        width: 100px;
        position: relative;
        height: 180vw;
    }

    .formElement>input,
    .formElement>select,
    .formElement>textarea {
        width: 250px;
        position: relative;
    }

    .grupo {
        right: 9vw;
        top: -220px;
    }

    .checkbox {
        width: 35vw;
    }

    .formElement {
        right: 19vw;
    }

    .formul치rio {
        right: 10vw;
    }

    .formElement>textarea {
        right: 2vw;
    }

    form {
        padding: 0;
    }

    .infos {
        top: 200vw;
        width: 99%;
        height: 90vw;
    }

    .infos>h1 {
        padding: 0;
        left: 7vw;
        font-weight: 300
    }

    .infos>p {
        top: 15vw;
        position: relative;
        padding: 2%;
        font-size: x-large;
    }

}
